basedosdados==2.0.3
certifi==2026.2.25
charset-normalizer==3.4.6
colorama==0.4.6
et_xmlfile==2.0.0
db-dtypes==1.5.0
fdb==2.0.4
firebird-base==2.0.2
firebird-driver==2.0.2
google-auth==2.49.1
google-cloud-bigquery==3.40.1
greenlet==3.3.2
idna==3.11
iniconfig==2.3.0
numpy==2.4.3
openpyxl==3.1.5
packaging==26.0
pandas==2.3.3
pandas-gbq==0.34.0
pluggy==1.6.0
protobuf==6.33.6
pyarrow==23.0.1
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.32.5
six==1.17.0
SQLAlchemy==2.0.48
sqlalchemy-firebird==2.1
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
